* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}
section {
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    
}

.name {
    font-size: 45px;
    text-decoration: none;
    font-weight: 700;
}

.menu a {
    position: relative;
    font-size: 18px;
    font-weight: 800;
    color: #000;
    text-decoration: none;
    margin-left: 40px;
}

.menu a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000;
    transition: .3s ease-in;
}

.menu a:hover::before {
    width: 100%;
}

h1 {
    position: relative;
    top: 100px;
    left: 0;
    width: 100%;
    font-size: 40px;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

}

.content {
    position: relative;
    top: 150px;
    left: 0;
    width: 100%;
    font-size: 28px;
    font-weight: 400px;
    padding: 20px 100px;
    z-index: 100;
}

.content ul {
    display: block;
    justify-content: center;
}